{% extends 'base.html.twig' %}

{% block title %}Serie detail{% endblock %}

{% block body %}
    <style>
        body {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
            url("{{ asset("assets/backdrops/" ~ serie.backdrop) }}");
        }
    </style>
    <h2>Detail d'une Série</h2>
    <ul>
        <li>Nom: {{ serie.name }}</li>
        <li>Overview: {{ serie.overview }}</li>
    </ul>
    <a type="button" class="btn btn-primary" href="{{ path('app_series_update', {'id' : serie.id }) }}">Editer</a>
    <a type="button" class="btn btn-danger" href="{{ path('app_series_delete', {'id' : serie.id }) }}" onclick="return confirm('Etes-vous sûr ?')">Supprimer</a>

    <h2>Saisons</h2>
    <ul>
    {% for season in serie.seasons %}
        <li>{{ season.number }}: {{ season.overview }} : {{ season.poster }}</li>
    {% endfor %}
    </ul>
{% endblock %}