<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="{{ asset('img/icon.png') }}">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}
            {{ importmap('app') }}
        {% endblock %}
    {% endblock %}
</head>
<body>
    <img src="{{ asset('img/logo.png') }}" />
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}"> {{ message }} </div>
        {% endfor %}
    {% endfor %}
    <nav>
        <ul style="display:flex; flex-direction: row;list-style: none;">
            <li style="padding: 5px;"><a href="{{ path('app_home') }}">Séries</a></li>
            {% if is_granted('ROLE_CONTRIB') %}
                <li style="padding: 5px;"><a href="{{ path('app_series_create') }}">Ajouter une Série</a></li>
                <li style="padding: 5px;"><a href="{{ path('app_season_create') }}">Ajouter une Saison</a></li>
            {% endif %}
        </ul>
    </nav>

    {% block body %}{% endblock %}
</body>
</html>